* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(124, 252, 220);
}

#root{
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.employee-display {
  display: flex;
  flex-flow: row wrap;
  align-items: space-around;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.employee-card {
  background: rgb(128, 214, 248);
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
  padding: .5rem;
  width: 20rem;
  height: 15rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0 2px rgb(7, 24, 61);
  overflow: hidden;
}

.employee-card .badge {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.employee-card .details {
  display: flex;
  flex-flow: column nowrap;
  padding: .1rem;
}

.employee-card .details span {
  padding: .2rem;
}

.employee-card .actions {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actions button {
  padding: .2rem 1rem;
  box-shadow: 2px 2px 0 1px black;
}

#employee-form {
  text-align: center;
}

#employee-form * {
  margin: 10px;
  border-radius: 5px;
  border: 0;
}
#employee-form input {
  height: 1.5rem;
  padding: .5rem 1rem;
}
